
<div id="lightbox-background">
  <div id="form">
      <form class="new-collection" action="/posts" method="POST">
        <h6>Create Collection</h6>
        <div class="form-group">
          <p>Title</p>
          <input id="title" name="title" class="form-control form-control-lg" type="text" placeholder="My collection 123">
        </div>
        <div class="form-group">
          <p>Description</p>
          <textarea id="description" name="description" class="form-control" rows="5" placeholder="I need coffee... a lot of coffee..."></textarea>
        </div>
        <footer>
          <button type="submit" class="btn btn-secondary hvr-grow" id="submitCollectionBtn">Create</button>
        </footer>
      </form>
  </div>
</div>
