<nav class='header'>
  <span id='logo'>Memo</span>

  <form class="form">
    <input id="textBar" name="text" placeholder="Search...">
  </form>
  
  <div id="profileIcon"> 
      <div></div>
  </div>
</nav>