<nav class='header'>
  <span id='logo'>Memo</span>

  <form class="form">
    <input class="glow" id="textBar" name="text" placeholder="Search...">
  </form>
  
  <div id="profileIcon"> 
      <div></div>
  </div>

  <div class="no-login">
      <button type="button" class="btn btn-outline-secondary">Register</button>
      <button type="button" class="btn btn-outline-secondary">Login</button>
  </div>
</nav>