<nav class='header'>
  <span id='logo'><a class="navbar-brand" id="logo" href="/">Memo</a></span>

  <form class="form" method="GET" action="/posts/">
    <input class="glow" id="textBar" name="text" placeholder="Search...">
  </form>
  
  <div id="profileIcon"> 
      <div></div>
  </div>

  <div class="no-login">
      <button type="submit" class="btn btn-outline-secondary">Register</button>
      <button type="submit" class="btn btn-outline-secondary">Login</button>
  </div>
</nav>