<nav class='sideBar'>
  <div class="list">
    <p class='hvr-grow'> # Home</p>
    <p class='hvr-grow'> @ Profile</p>
    <p class='hvr-grow'> & Friends</p>
    <p class='hvr-grow'> Collection</p>
    <p class='hvr-grow'> Settings</p>
    <p class='hvr-grow'> + Post</p>
  </div>
</nav>