<nav class='sideBar'>
  <div class='list'>
    <p class='hvr-grow'><img src='https://i.imgur.com/VZBqZiB.png'> Home</p>
    <p class='hvr-grow'><img src='https://i.imgur.com/bES5NFI.png'> Profile</p>
    <p class='hvr-grow'><img src='https://i.imgur.com/wRV0a7x.png'> Settings</p>
    <p class='hvr-grow'><img src='https://i.imgur.com/Lj3tgYF.png'> Post</p>
  </div>
</nav>

<nav class='collections'>
    <h4>Collections:</h4>
    <div class='collection-list'>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
    <p>collection</p>
  </div>
</nav>