<nav class='sideBar'>
  <div class='list'>
    <p class='hvr-grow'><a href="/"><img src='https://i.imgur.com/VZBqZiB.png'> Home</a></p>
    <p class='hvr-grow'><a href="/profile/<%= user %>"><img src='https://i.imgur.com/bES5NFI.png'> Profile</a></p>
    <p class='hvr-grow'><a href="/"><img src='https://i.imgur.com/wRV0a7x.png'> Settings</a></p>
    <form method="GET" action="/posts/new">
      <p><button type="submit" class="btn btn-secondary">Post</button></p>
    </form>
  </div>

  <div class='collections'>
    <h5>COLLECTIONS</h5>
      <div class='collection-list'>
      <% if (user) { %>
        <% for (let collection of collections) { %>
          <a class='<%= collection.id %>' href="/collection/<%= collection.id %>"><%= collection.title %></a>
        <% } %>
      <% } %>
    </div>
    <button id="lightBoxBtn" class='hvr-grow'><img src='https://i.imgur.com/Lj3tgYF.png'> Add New Collection</button>
  </div>
</nav>

