<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memo - Home</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css " type="text/css" />
    <link rel="stylesheet" href="/styles/header.css " type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css " type="text/css" />
    <link rel="stylesheet" href="/styles/welcome.css " type="text/css" />
    <link rel="stylesheet" href="/styles/index.css " type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>

  <body>

    <% include ./partials/_header %>
    <% include ./partials/_sidebar %>

        <main class='container'>
          <div class='post'>
            <header>
              <div>
                <span id='postIcon'></span>
                <h4>Example</h4>
              </div>
              <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">https://css-tricks.com/snippets/css/a-guide-to-flexbox/</a>
            </header>
            <p class="video"><iframe width="90%" height="400px" src="https://www.youtube.com/embed/prHARc5vhpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>
              This is just an example Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quo quibusdam asperiores deleniti, molestias iusto suscipit sit eveniet sequi harum nihil nulla aperiam, animi, nam hic cum illo quos facere?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusantium exercitationem dolor deleniti, iste explicabo? Esse, libero voluptate! Blanditiis rerum magni possimus magnam optio a culpa quia quo placeat quaerat.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero ratione, quisquam soluta sunt ducimus mollitia tempore temporibus incidunt ipsa minima labore numquam praesentium. Non laudantium similique assumenda ipsa.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero ratione, quisquam soluta sunt ducimus mollitia tempore temporibus incidunt ipsa minima labore numquam praesentium. Non laudantium similique assumenda ipsa.
            </p>
            <footer>
              <div></div>
              <div></div>
              <div></div>
            </footer>
          </div>
          <div class='post'>
            <header>
                <div>
                  <span id='postIcon'></span>
                  <h4>Example</h4>
                </div>
                <a>https://css-tricks.com/snippets/css/a-guide-to-flexbox/</a>
            </header>
            <p>
                This is just an example Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quo quibusdam asperiores deleniti, molestias iusto suscipit sit eveniet sequi harum nihil nulla aperiam, animi, nam hic cum illo quos facere?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusantium exercitationem dolor deleniti, iste explicabo? Esse, libero voluptate! Blanditiis rerum magni possimus magnam optio a culpa quia quo placeat quaerat.
                Lorem ipsum dolor suck my toessssss sit amet consectetur adipisicing elit. Quasi voluptatibus vero ratione, quisquam soluta sunt ducimus mollitia tempore temporibus incidunt ipsa minima labore numquam praesentium. Non laudantium similique assumenda ipsa.
            </p>
            <footer>
                <div></div>
                <div></div>
                <div></div>
            </footer>
          </div>
          <div class='post'></div>
          <div class='post'></div>
          <div class='post'></div>
        </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
