<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memo - New Post</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css " type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css " type="text/css" />
    <link rel="stylesheet" href="/styles/new_post.css " type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css " type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/footerLightBox.js"></script>
    <script type="text/javascript" src="/scripts/new-post.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>
  <body>

    <% include ./partials/_header %>
    <% include ./partials/_sidebar %>

  <form class="new-post" action="/posts" method="POST">
    <h5>ADD NEW POST</h5>
    <div class="form-group">
      <p>Title</p>
      <input id="title" name="title" class="form-control form-control-lg" type="text" placeholder="The name is very important">
    </div>
    <div class="form-group">
      <p>URL (optional)</p>
      <input id="url" class="form-control" type="text" name="url" placeholder="www.youtube...">
    </div>
    <div class="form-group">
      <p>Description</p>
      <textarea id="description" name="description" class="form-control" rows="5" placeholder="Shrek: Donkey, two things, okay? Shut..up"></textarea>
    </div>
    <footer>
      <button type="submit" class="btn btn-secondary">Post</button>
      <div><img src='https://image.flaticon.com/icons/svg/1980/1980623.svg'></div>
    </footer>
  </form>

  <% include ./partials/_footer %>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
