<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memo - profile page</title>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/test1.css " type="text/css" />
    <link rel="stylesheet" href="/styles/header.css " type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css " type="text/css" />
    <link rel="stylesheet" href = "/styles/profile.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/_header %>
    <% include ./partials/_sidebar %>

  <header>
    <img id="profilePic" src='https://image.flaticon.com/icons/svg/236/236831.svg'></img>
    <div id="profileDiv">
      <p>User</p>
      <h2>Theo Malaper</h2>
      <button> ... </button>
    </div>
  </header>
  <main>
    <div id="mainBar">
      <button>OVERVIEW</button>
      <button>PUBLIC COLLECTIONS</button>
      <button>POSTS</button>
      <button>LIKES</button>
      <button>MORE...</button>
    </div>
    <div class="card-container">
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/273/273504.svg'>
          <div class="card-content">
            <p>Collections</p>
            <h2>5</h2>
          </div>
        </div>
        <div class="card-footer">
          <img src='https://image.flaticon.com/icons/svg/813/813310.svg'>
          <button>Update Now</button>
        </div>
      </div>
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/273/273531.svg'>
          <div class="card-content">
            <p>Liked posts</p>
            <h2>123</h2>
          </div>
         </div>
         <div class="card-footer">
           <img src='https://image.flaticon.com/icons/svg/148/148836.svg'>
           <button>Check out</button>
         </div>
      </div>
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/1055/1055661.svg'>
          <div class="card-content">
            <p>Your Posts</p>
            <h2>13</h2>
          </div>
        </div>
        <div class="card-footer">
          <img src='https://image.flaticon.com/icons/svg/2068/2068362.svg'>
          <button>Edit</button>
        </div>
      </div>
      <div class="cards">
        <div class="card-body">
          <img src='https://image.flaticon.com/icons/svg/134/134914.svg'>
          <div class="card-content">
            <p>Comments</p>
            <h2>6</h2>
          </div>
        </div>
        <div class="card-footer">
          <img src='https://image.flaticon.com/icons/svg/2097/2097594.svg'>
          <button>List</button>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
