.header {
  position: fixed;
  background-color: #2e2b29;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  padding: 0.2em 0.5em 0.2em 0.5em;

  #logo {
    font-family: 'Baloo', cursive;
    font-size: 28px;
    color: white;

    img {
      width: 45px;
      height: auto;
      margin: 0 0.5em;
    }
  }

  .form {
    width: 45%
  }

  #search-bar {
    background-color: #51514F;
    border: 1px solid #51514F;
    width: 100%;
    border-radius: 20px;
    resize: none;
    color: white;
    padding: 7px;
    padding-left: 15px;
    outline: none;
  }

  #textBar:focus {
    border: 1px solid rgb(236, 185, 44);
  }

  #profileIcon {
    height: 25px;
    width: 25px;
    border-radius: 60px;
    border: 1px solid darkgray;
    display: none;
  }

  div.no-login {
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-right: 2em;

    img {
      width: 22px;
      height: 22px;
    }

    .picImg {
      margin-right: 15px;
      margin-left: 18px;
      width: 28px;
      height: 28px;
      border: 1px solid darkgrey;
      border-radius: 50px;
    }
    
    #btn-login {
      background-color: #2e2b29;
      width: 100px;
      margin-bottom: 3px;
      padding: 0px;
      border: none;
      outline:none;
    }

    #btn-login:hover {
      img {
        width: 30px;
        height: 30px;
        content: url(https://image.flaticon.com/icons/svg/1177/1177568.svg)
      }
    }

    .btn-logout button {
      background-color: #2e2b29;
      border: none;
      margin-bottom: 3px;
      padding: 0px;
      outline: none;
    }

    .btn-logout button:hover {
      img {
        content: url(https://i.imgur.com/bo0mTry.png)
      }
    }
  }
}
