.container {
  margin: auto;
  width: 55%;
  margin-top: 90px;
}

.post {
  background-color: #2e2b29;
  border-radius: 25px;
  margin-bottom: 1em;
  padding: 2.5em;
  border: 1px solid #413d3b;

  header {
    height: 20%;
    width: 100%;
    margin-bottom: 5px;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #413d3b;
  }

  div.top-post-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 a {
    text-decoration: none;
    color: white;
  }

  h2 a:hover {
    color: rgb(193, 253, 253);
  }

  .post-link:link {
    color: #007F7F;
  }

  .post-link:visited {
    color: rgb(236, 185, 44);
  }

  .post-link {
    font-size: 10px;
  }

  p {
    line-height: 20pt;
    padding: 15px;
    border-bottom: 1px solid #413d3b;
  }

  img {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  iframe {
    width: 100%;
    height: 400px;
    padding: 20px;
  }

  footer {
    padding-top: 10px;
  }

  .bottom-post input {
    width: 30px;
    height: auto;
    margin-right: 25px;
  }

  div.bottom-post {
    display: flex;
    justify-content: flex-start;

    div.rating {
      font-size: 17px;
    }

    span.star {
      font-size: 20px;
      color: rgb(236, 185, 44);
    }

    button.like-btn {
      background: none;
      border: none;
      margin-right: 25px;
    }

    .like-img {
      width: 35px;
      height: 35px;
      padding: 0;
    }

    .like-img:hover {
      content: url("https://i.imgur.com/diEl516.png");
    }

    .liked-img {
      width: 35px;
      height: 35px;
      padding: 0;
    }
  }
}

.like:active, .like:hover {
  content: url("https://i.imgur.com/diEl516.png");
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

.addPostButton {
  input {
    outline: none;
  }
}

.collectionDropDown {
  select {
    background-color:#2e2b2a;
    color: darkgrey;
    font-size: 14px;
    outline: none;
    height: 30px;
  }
}
