.container {
  margin: auto;
  width: 55%;
  margin-top: 90px;
}

.post {
  background-color: #2e2b29;
  border-radius: 15px;
  margin-bottom: 1em;
  padding: 2.5em;
  border: 1px solid #413d3b;
  display: flex;
  flex-direction: column;

  header {
    height: 20%;
    width: 100%;
    margin-bottom: 5px;
    float: left;
    padding-bottom: 10px;
  }

  div.top-post-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h4 a {
    text-decoration: none;
    color: white;
  }

  // h4 a:hover {
  //   color: rgb(58, 176, 176);
  // }

  .post-link:link {
    color: #007F7F;
  }

  .post-link:visited {
    color: rgb(236, 185, 44);
  }

  .post-link {
    font-size: 10px;
  }

  p {
    line-height: 20pt;
  }

  div.post-body {
    border-bottom: 1px solid rgb(101, 101, 101);
    border-top: 1px solid rgb(101, 101, 101);
  }

  p {
    margin-top: 10px;
    font-size: 14px;
  }

  img {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  iframe {
    width: 100%;
    height: 400px;
    padding: 20px;
  }

  footer {
    padding-top: 10px;
  }

  .bottom-post input {
    width: 30px;
    height: auto;
  }

  div.rating {
    font-size: 17px;
  }

  span.star {
    font-size: 20px;
    color: rgb(236, 185, 44);
  }

  div.bottom-post {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;

    form input {
      height: 22px;
      width: 22px;
    }

    .like-img {
      width: 22px;
      height: 22px;
      padding: 0;
    }

    .like-img:hover {
      content: url("https://i.imgur.com/diEl516.png");
    }

    .liked-img {
      width: 22px;
      height: 22px;
      padding: 0;
    }


    .user-like {
      margin-left: 20px;
      margin-right: 20px;
    }

    .user-like:hover {
      cursor: pointer;
    }
  }
}

.addPostButton {
  input {
    outline: none;
    height: 22px;
    width: 22px;
  }
}

.collectionDropDown {
  select {
    background-color:#2e2b2a;
    color: darkgrey;
    font-size: 14px;
    outline: none;
    height: 24px;
    margin-left: 10px;
  }
}

.hvr-growing {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-growing:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
