form.new-post {
  width: 55%;
  margin: auto;
  margin-top: 90px;
  background-color: #2e2b29;
  border-radius: 25px;
  padding: 2.5em;
  border: 1px solid #413d3b;

  h5 {
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    font-size: 14px;
    color: darkgrey;
    margin-bottom: 5px;
  }

  input {
    border: rgb(189, 189, 188);
    height: 35px;
  }

  ::-webkit-input-placeholder {
    font-size: 13px;
    color: rgb(157, 157, 157);
  }

  textarea {
    background-color: #ffffff;
    border: rgb(189, 189, 188);
    resize: none;
  }

  button {
    background-color: rgb(3, 189, 19);
    border: none;
    border-radius: 35px;
    width: 100px;
  }

  button:hover {
    background-color: rgb(3, 205, 20);
  }

  footer div {
    display: flex;
    justify-content: center;
    img {
      height: 70px;
      width: 70px;
    }
  }
}
