header {
  display: flex;
  margin: auto;
  width: 55%;
  margin-top: 90px;

  article {
    display: flex;

    h2 {
      margin-right: 15px;
    }

    a {
      outline: none;
      font-size: 13px;

      img {
        margin-top: 10px;
        height: 20px;
        width: 20px;
      }
    }
  }
  footer {
    font-size: 14px;
    color: darkgrey;
  }
}

#profilePic {
  height: 125px;
  width: 125px;
  border-radius: 65px;
  border: 2px solid darkgray;
  margin-right: 20px;
}

main {
  margin: auto;
  width: 60%;
  margin-top: 35px;
}

#mainBar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-left: 5%;
  margin-bottom: 0.5em;

  button {
    background-color: rgb(36, 34, 34);
    border: none;
    color: darkgrey;
    outline: none;
    border-bottom: 2px solid rgb(36, 34, 34);
  }

  button:hover {
    color:white;
  }

  button:focus-within {
    color: white;
    border-bottom: 2px solid steelblue;
  }
}

#card-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;

  .cards {
    margin-top: 30px;
    width: 47%;
    background-color: darkgrey;
    height: 175px;
  }

  .cards:hover {
    border: 1px solid rgb(106, 106, 106);
  }

  .card-body{
    background-color: #353230;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(101, 101, 101);
    height: 70%;

    img {
      height: 70px;
      width: 70px;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1em;

    p {
      color: darkgrey;
    }
  }

  .card-footer {
    display: flex;
    background-color: #353230;
    height: 30%;

    img {
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }

    button {
      color: darkgrey;
      background-color:#353230;
      font-size: 15px;
      border: none;
      outline: none;
    }

    button:hover {
      color: white;
    }

    button:active {
      color: rgb(153, 182, 205);
    }
  }
}

#collection-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;

  .column-title {
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid rgb(101, 101, 101);

    div {
      width: 8%;
      display: flex;
      justify-content: center;
      margin-right: 60px;

      p {
        font-size: 14px;
        color: darkgrey;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .collection-post {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid rgb(101, 101, 101);

    div {
      width: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 0px;
        height: 0px;
      }
    }

    a {
      color: white;
      font-size: 14px;
    }

    p {
      font-size: 14px;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    
    button {
      background-color: #221F1E;
      border: none;
      outline: none;
      color: darkgrey;
    }

    button:hover {
      color: white;
    }
  }

  .collection-post:hover {
    background-color:rgb(60, 55, 54);

    button {
      background-color: rgb(60, 55, 54);
    }

    img {
      width: 12px;
      height: 12px;
    }
  }

  .collection-post form button:hover {
    img {
      content: url(https://image.flaticon.com/icons/svg/1632/1632708.svg)
    }
  }
}

#post-container {
  margin: auto;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  .profilePost {
    width: 100%;
    background-color: #353230;
    padding: 1em;
    margin-top: 20px;

    header {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      width: 100%;
      margin-top: 0px;
      border-bottom: 0.5px solid rgb(101, 101, 101);
      height: 30px;

      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
        text-decoration: none;

        img {
          margin-left: 5px;
          width: 13px;
          height: 13px;
        }
      }

      a:hover {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
      }
    }

    div {
      font-size: 11px;
      margin-top: 10px;

      a {
        display: block;
        color: rgb(210, 162, 72);
        white-space: nowrap;
        width:250px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      font-size: 12px;

      img {
        align-self: center;
        height: 23px;
        width: 23px;
      }
    }
  }

  .profilePost:hover {
    border: 0.5px solid rgb(101, 101, 101);
  }
}

#like-container {
  margin: auto;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  .likedPost {
    width: 100%;
    background-color: #353230;
    padding: 1em;
    margin-top: 20px;

    header {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      width: 100%;
      margin-top: 0px;
      border-bottom: 0.5px solid rgb(101, 101, 101);
      height: 30px;

      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
        text-decoration: none;

        img {
          margin-left: 5px;
          width: 13px;
          height: 13px;
        }
      }

      a:hover {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
      }
    }

    div {
      font-size: 11px;
      margin-top: 10px;

      a {
        display: block;
        color: rgb(72, 134, 210);
        white-space: nowrap;
        width:250px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      font-size: 12px;

      img {
        align-self: center;
        height: 25px;
        width: 25px;
      }
    }
  }

  .likedPost:hover {
    border: 0.5px solid rgb(101, 101, 101);
  }
}

#comment-container {
  margin: auto;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;

  .commentPost {
    width: 45%;
    background-color: #353230;
    padding: 1em;
    margin-top: 20px;
    margin-right: 30px;

    header {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      width: 100%;
      margin-top: 0px;
      border-bottom: 0.5px solid rgb(101, 101, 101);
      height: 30px;
    }

    div {
      margin-top: 5px;
      font-size: 13px;
    }

    footer {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: darkgrey;

      a {
        color: lightgrey;
        border-bottom: 1px solid lightgrey;
        text-decoration: none;
      }

      img {
        align-self: center;
        height: 22px;
        width: 22px;
      }
    }
  }

  .commentPost:hover {
    border: 0.5px solid rgb(101, 101, 101);
  }
}

.hvr-growing {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-growing:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
