.top {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 55%;
  margin-top: 90px;

  p {
    color: darkgrey;
    margin-bottom: 13px;
  }
}

#collectionPic {
  height: 100px;
  width: 100px;
  margin-right: 1em;
}

#description {
  font-size: 12px;
}

.top span:hover {
  border-bottom: 1px solid white;
}

.top button {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: rgb(36, 34, 34);
  border: 1px solid darkgray;
  color: white;
  outline: none;
  margin-right: 1em;
}

.top button:hover {
  border: 1px solid white;
}

#titleDiv {
  width: 75%;
  margin-bottom: 15px;

  div {
    display: flex;
  }

  p {
    font-size: 14px;
  }

  .titleDiv-footer {
    font-size: 12px;
    color: darkgray;

    a {
      color: white;
      border-bottom: 1px solid white;
      text-decoration: none;
    }
  }
}

#specialBtn {
  height: 35px;
  width: 100px;
  border-radius: 25px;
  background-color: rgb(213, 160, 26);
  color: white;
  outline: none;
  border: none;
  margin-right: 1em;
  font-size: 12px;
}

#specialBtn:hover {
  background-color: rgb(235, 177, 29);
  border: none;
}

.top footer {
  width: 100%;
  display: flex;
  justify-content: center;

  #filterBar {
    background-color:#221F1E;
    border: none;
    width: 65%;
    margin-right: 1em;
    color: darkgrey;
    font-size: 14px;
  }

  #filterBar:hover {
    color: white;
  }

  #filterBar:focus {
    outline: none;
    background-color: rgb(60, 55, 54);
    border-radius: 5px;
  }
}

.container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.collection-post {
  width: 100%;
  background-color: #221F1E;
  padding: 1em;
  border-top: 0.5px solid rgb(101, 101, 101);

  header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width: 100%;
    height: 30px;

    .title {
      color: white;
      font-size: 15px;
      text-decoration: none;
      overflow: visible;
    }

    .title:hover {
      font-weight: bold;
      font-size: 14px;
    }

    div {
      display: flex;
      align-items: center;
      margin-top: 0px;

      p {
        font-size: 15px;
        margin-bottom: 0px;
      }

      img {
        height: 20px;
        width: 20px;
        margin-right: 8px;
      }
    }
  }

  div {
    font-size: 11px;
    margin-top: 10px;

    a {
      display: block;
      color: rgb(210, 162, 72);
      white-space: nowrap;
      width:250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 14px;

    p {
      margin-bottom: 5px;
    }

    button {
      align-self: center;
      background-color: #221F1E;
      border: none;

      img {
        margin-top: 10px;
        width: 0px;
        height: 0px;
      }
    }
  }
}

.collection-post:hover {
  background-color: rgb(60, 55, 54);

  button {
    background-color: rgb(60, 55, 54);
  }

  footer img {
    width: 15px;
    height: 15px;
  }

  footer button:hover img {
    content: url(https://image.flaticon.com/icons/svg/1632/1632708.svg)
  }
}

.hvr-growing {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-growing:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
