.sideBar {
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 900;
  padding-top: 70px;
  background-color: #2e2b29;
}

.list p {
  padding: 5px;
  font-size: 15px;
  margin-right: 20px;
  margin-left: 40px;
}

.sideBar img {
  width: 17px;
  height: auto;
  margin-right: 5px;
}

.sideBar a {
  color: white;
}

.sideBar a:hover {
  text-decoration: none;
}

.sideBar button {
  width: 150px;
  border-radius: 35px;
  background-color: #007F7F;
  border: none;
}

.sideBar button:hover {
  background-color: rgb(2, 182, 182);
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.list {
  border-bottom: 1px solid #413d3b;
}

.collections {
  padding-left: 30px;
  padding-top: 20px;
}

.collections h5 {
  font-size: 15px;
  opacity: 0.5;
  font-weight: bold;
}

.sideBar .collection-list {
  margin: 15px;
  overflow: auto;
  height: 300px;
  font-size: 13px;
}

.collections p {
  display: flex;
  align-items: center;
  font-size: 15px;
}
