.sideBar {
  position: fixed;
  width: 250px;
  height: 100vh;
  z-index: 900;
  padding-top: 70px;
  background-color: #2e2b29;

  img {
    width: 17px;
    height: auto;
    margin-right: 5px;
  }

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  button {
    width: 150px;
    border-radius: 35px;
    background-color: #007F7F;
    border: none;
  }
}

.list button {
  width: 150px;
  border-radius: 35px;
  background-color: #007F7F;
  border: none;
}

.list form {
  display: flex;
  justify-content: center;
}

.list button:hover {
  background-color: rgb(2, 182, 182);
}

  .list {
    border-bottom: 1px solid #413d3b;
    padding-bottom: 15px;

    p {
      padding: 5px;
      font-size: 15px;
      margin-right: 20px;
      margin-left: 40px;
    }
  }

  .collections {
    padding-left: 30px;
    padding-top: 20px;
  
    h5 {
      font-size: 15px;
      opacity: 0.5;
      font-weight: bold;
    }
  
    a {
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 20pt;
    }
  }

.collections h5 {
  font-size: 15px;
  opacity: 0.5;
  font-weight: bold;
}

.sideBar .collection-list {
  margin: 15px;
  overflow: auto;
  height: 300px;
  font-size: 13px;
}

.collections button {
  width: 190px;
  border: none;
  background-color: #2e2b29;
  color: white;
  outline: none;
}